@charset "UTF-8";

article, aside, details, figcaption, figure, footer,
header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

h2, .article-list .article-title {
    font-size: 1.5em;
    margin: 0.83em 0
}

h3, dt {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

p, pre {
    margin: 1em 0
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: "courier new", monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: "";
    content: none
}

small, dd, figcaption {
    font-size: 75%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl, menu, ol, ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0 0 0 40px
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td.linenos {
    padding-right: 0.5rem
}

span.lineno {
    padding: 0 0.2rem
}

body .hll {
    background-color: #fff
}

body .c, body .cm, body .cp, body .c1, body .cs {
    color: rgba(161, 156, 145, 0.75);
    font-style: italic
}

body .k, body .kc, body .kd, body .kn, body .kp, body .kr, body .kt {
    color: #8d64a7
}

body .kd, body .kn, body .kr {
    font-weight: 700
}

body .o, body .ow {
    color: #427e80
}

body .w {
    color: #c7c2b8
}

body .m, body .mf, body .mh, body .mi, body .mo, body .il {
    color: #427e80
}

body .s, body .sb, body .sc, body .sd, body .se, body .s2, body .sh, body .sx,
body .s1, body .ss {
    color: #8db359
}

body .sd {
    font-style: italic
}

body .si, body .sr {
    color: #eb7952
}

body .na {
    color: #8d64a7
}

body .nb {
    color: #eb7952
}

body .nc {
    color: #8db359
}

body .no {
    color: #eb7952
}

body .nd {
    color: #8d64a7
}

body .ni {
    color: #a19c91;
    font-weight: 700
}

body .ne {
    color: #eb7952
}

body .nf {
    color: #8db359
}

body .nl {
    color: #edbf5a
}

body .nn {
    color: #8db359
}

body .nt {
    color: #eb7952
}

body .bp {
    color: #eb7952
}

body .nv, body .vc, body .vg, body .vi {
    color: #8db359
}

body .gd {
    color: #eb7952
}

body .ge {
    font-style: italic
}

body .gr {
    color: #eb7952
}

body .gh {
    color: #8d64a7
}

body .gi {
    color: #8db359
}

body .go {
    color: #a19c91
}

body .gp {
    color: #8d64a7
}

body .gs {
    font-weight: 700
}

body .gu {
    color: #8d64a7
}

body .gt {
    color: #427e80
}

.sass .na {
    color: #8d64a7
}

.sass .no {
    color: #8d64a7
}

.sass .kt {
    color: #427e80
}

.invisible-link, .header-avatar>a, .header-name>a, .header-title>a,
.nav .next, .nav .previous, .article-header .article-title>a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-size: inherit
}

.invisible-list, .header-social-icons, .header-social-buttons,
.article-footer .social-shares, .article-list {
    margin: 0;
    padding: 0
}

.invisible-list>li, .header-social-icons>li, .header-social-buttons>li,
.article-footer .social-shares>li, .article-list>li, .invisible-list>dt,
.header-social-icons>dt, .header-social-buttons>dt, .article-footer .social-shares>dt,
.article-list>dt, .invisible-list>dd, .header-social-icons>dd, .header-social-buttons>dd,
.article-footer .social-shares>dd, .article-list>dd {
    margin: 0
}

.invisible-list>li, .header-social-icons>li, .header-social-buttons>li,
.article-footer .social-shares>li, .article-list>li {
    list-style: none
}

.invisible-list>li::before, .header-social-icons>li::before, .header-social-buttons>li::before,
.article-footer .social-shares>li::before, .article-list>li::before {
    display: none !important
}

.invisible-list>dt, .header-social-icons>dt, .header-social-buttons>dt,
.article-footer .social-shares>dt, .article-list>dt, .invisible-list>dt,
.header-social-icons>dt, .header-social-buttons>dt, .article-footer .social-shares>dt,
.article-list>dt {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    font-style: inherit
}

.icon {
    font-size: 26px;
    text-decoration: none;
    color: rgba(66, 63, 55, 0.15);
    -webkit-transition: color 0.15s;
    -moz-transition: color 0.15s;
    -o-transition: color 0.15s;
    transition: color 0.15s
}

.icon:hover, .icon:active, .icon:focus {
    color: #423f37;
    opacity: 1
}

.horizontal-list>li, .header>li, .header-social-icons>li, .article-footer .social-shares>li {
    display: inline-block;
    margin-right: 0.3rem;
    vertical-align: bottom
}

.horizontal-list>li:last-child, .header>li:last-child, .header-social-icons>li:last-child,
.article-footer .social-shares>li:last-child {
    margin-right: 0
}

* {
    box-sizing: border-box
}

html {
    overflow-y: scroll
}

body {
    background-color: #fff
}

html, body, button, input, select, textarea {
    font-family: "freight-sans-pro", "Myriad Pro", "Myriad", sans-serif;
    font-size: 20px;
    color: #57534a
}

@media (max-width: 1000px){html, body, button, input, select, textarea {
        font-size: 18px
    }
}

@media (max-width: 800px){html, body, button, input, select, textarea {
        font-size: 16px
    }
}

body, textarea {
    line-height: 1.4
}

button, input, select {
    line-height: normal
}

a {
    cursor: pointer;
    color: #8db359;
    text-decoration: underline;
    outline: 0
}

a:focus {
    outline: 0
}

a:hover {
    color: #739544
}

small a, dd a, figcaption a {
    color: #57534a
}

small a:hover, dd a:hover, figcaption a:hover {
    color: #3b3933
}

p {
    margin: 0;
    padding: 0
}

mark {
    background: #edbf5a;
    color: #211f18
}

sub, sup {
    font-size: 0.6rem
}

del {
    text-decoration: line-through
}

strong, b {
    font-weight: 600;
    color: #423f37
}

em, i {
    font-style: italic
}

small, dd, figcaption {
    display: block;
    line-height: 1.2;
    font-size: 0.8rem;
    color: #a19c91;
    font-style: italic
}

small strong, dd strong, figcaption strong, small b, dd b, figcaption b {
    color: #57534a
}

blockquote {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    color: #423f37;
    font-weight: 600
}

blockquote+small, blockquote+dd, blockquote+figcaption {
    margin-top: 0
}

hr {
    display: block;
    border: none;
    margin: 2em 20%;
    height: 1px;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(227, 224, 216, 0)), color-stop(5%, #e3e0d8), color-stop(95%, #e3e0d8), color-stop(100%, rgba(227, 224, 216, 0)));
    background: -webkit-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: -moz-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: -o-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%)
}

h1, h2, .article-list .article-title, h3, dt, h4, h5, h6 {
    margin: 0
}

h1, h2, .article-list .article-title, h3, dt {
    color: #423f37;
    font-weight: 600
}

h1 {
    font-size: 1.4rem;
    margin-top: 3.4rem;
    margin-bottom: 0.5rem
}

h2, .article-list .article-title {
    font-size: 1.2rem;
    margin-top: 2.1rem;
    margin-bottom: 0.3rem
}

h3, dt, h4, h5, h6 {
    font-size: 1rem;
    margin-top: 1.3rem;
    margin-bottom: 0.2rem
}

p+p, p+ul, p+ol, p+dl, p+figure, p+img, p+blockquote, p+pre, p+div.highlight,
p+small, p+dd, p+figcaption, ul+p, ul+ul, ul+ol, ul+dl, ul+figure, ul+img,
ul+blockquote, ul+pre, ul+div.highlight, ul+small, ul+dd, ul+figcaption,
ol+p, ol+ul, ol+ol, ol+dl, ol+figure, ol+img, ol+blockquote, ol+pre,
ol+div.highlight, ol+small, ol+dd, ol+figcaption, dl+p, dl+ul, dl+ol,
dl+dl, dl+figure, dl+img, dl+blockquote, dl+pre, dl+div.highlight,
dl+small, dl+dd, dl+figcaption, figure+p, figure+ul, figure+ol, figure+dl,
figure+figure, figure+img, figure+blockquote, figure+pre, figure+div.highlight,
figure+small, figure+dd, figure+figcaption, img+p, img+ul, img+ol,
img+dl, img+figure, img+img, img+blockquote, img+pre, img+div.highlight,
img+small, img+dd, img+figcaption, blockquote+p, blockquote+ul, blockquote+ol,
blockquote+dl, blockquote+figure, blockquote+img, blockquote+blockquote,
blockquote+pre, blockquote+div.highlight, blockquote+small, blockquote+dd,
blockquote+figcaption, pre+p, pre+ul, pre+ol, pre+dl, pre+figure, pre+img,
pre+blockquote, pre+pre, pre+div.highlight, pre+small, pre+dd, pre+figcaption,
div.highlight+p, div.highlight+ul, div.highlight+ol, div.highlight+dl,
div.highlight+figure, div.highlight+img, div.highlight+blockquote,
div.highlight+pre, div.highlight+div.highlight, div.highlight+small,
div.highlight+dd, div.highlight+figcaption, small+p, dd+p, figcaption+p,
small+ul, dd+ul, figcaption+ul, small+ol, dd+ol, figcaption+ol, small+dl,
dd+dl, figcaption+dl, small+figure, dd+figure, figcaption+figure,
small+img, dd+img, figcaption+img, small+blockquote, dd+blockquote,
figcaption+blockquote, small+pre, dd+pre, figcaption+pre, small+div.highlight,
dd+div.highlight, figcaption+div.highlight, small+small, dd+small,
figcaption+small, small+dd, dd+dd, figcaption+dd, small+figcaption,
dd+figcaption, figcaption+figcaption {
    margin-top: 1em
}

pre, code, kbd, samp {
    typeface: "inconsolata", "Lucida Console", Monaco, monospace;
    margin: 0;
    padding: 0
}

pre {
    word-wrap: normal;
    white-space: pre;
    position: relative;
    padding: 1.3rem;
    background-color: #f8f5f0;
    font-size: 0.7rem;
    overflow-x: auto
}

pre::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

pre::-webkit-scrollbar-track {
    background: #f2ece2
}

pre::-webkit-scrollbar-thumb {
    background: #e5d9c6
}

code {
    color: #423f37
}

a code {
    color: inherit
}

small code, dd code, figcaption code {
    color: #57534a
}

menu, ol, ul, dl, dd, dt {
    margin: 0;
    padding: 0
}

ol, ul, dl {
    margin-left: 2rem
}

li {
    list-style: none
}

li+li, dd+dt {
    margin-top: 0.5em
}

ol ol, ol ul, ul ol, ul ul {
    margin-top: 0.5em
}

ol {
    counter-reset: ol
}

ol>li {
    position: relative
}

ol>li::before {
    content: counter(ol) ".";
    counter-increment: ol;
    color: #423f37;
    font-weight: 600;
    position: absolute;
    right: 100%;
    margin-right: 0.333em
}

ul>li {
    position: relative
}

ul>li::before {
    content: "";
    position: absolute;
    right: 100%;
    margin-top: 0.55em;
    margin-right: 0.333em;
    width: 6px;
    height: 6px;
    border-radius: 14px;
    background-color: #423f37
}

dd {
    color: #57534a
}

audio, canvas, embed, img, nav, object, video {
    display: block
}

figure {
    margin: 0
}

figure>figcaption {
    margin-top: 0.5em
}

img, object, embed, video, audio {
    max-width: 100%
}

form {
    margin: 0
}

fieldset {
    border: none;
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

select {
    line-height: normal
}

label {
    cursor: pointer
}

*::-webkit-input-placeholder {
    color: rgba(199, 194, 184, 0.75)
}

*:-moz-placeholder {
    color: rgba(199, 194, 184, 0.75)
}

*::-ms-input-placeholder {
    color: rgba(199, 194, 184, 0.75)
}

*::input-placeholder {
    color: rgba(199, 194, 184, 0.75)
}

*:placeholder {
    color: rgba(199, 194, 184, 0.75)
}

.main {
    padding-top: 1rem;
    padding-bottom: 6rem
}

@media (min-width: 481px){.main {
        padding-top: 4rem;
        padding-bottom: 8rem
    }
}

@media (min-width: 769px){.main {
        padding-bottom: 6rem;
        width: 80%
    }
}

.header {
    position: relative;
    line-height: 1;
    background-color: #fff
}

.header::before, .header::after {
    content: "";
    position: absolute
}

.header::before {
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(227, 224, 216, 0)), color-stop(5%, #e3e0d8), color-stop(95%, #e3e0d8), color-stop(100%, rgba(227, 224, 216, 0)));
    background: -webkit-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: -moz-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: -o-linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%);
    background: linear-gradient(left, rgba(227, 224, 216, 0) 0%, #e3e0d8 5%, #e3e0d8 95%, rgba(227, 224, 216, 0) 100%)
}

@media (max-width: 768px){.header {
        text-align: center
    }

    .header::before {
        height: 1px
    }
}

@media (max-width: 480px){.header {
        height: 60px
    }

    .header::before {
        bottom: -1px;
        left: 3%;
        right: 3%
    }
}

@media (min-width: 481px){.header {
        position: fixed;
        z-index: 1
    }
}

@media (min-width: 481px) and (max-width: 768px){.header {
        height: 90px;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid transparent
    }

    .header::before {
        left: 8%;
        right: 8%;
        top: -1px
    }

    .header::after {
        top: -51px;
        left: 0;
        right: 0;
        height: 50px;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
        background: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff)
    }
}

@media (min-width: 769px){.header {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 20%;
        border-left: 1px solid transparent
    }

    .header::before {
        top: 15%;
        bottom: 15%;
        left: -1px;
        width: 1px;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227, 224, 216, 0)), color-stop(20%, #e3e0d8), color-stop(80%, #e3e0d8), color-stop(100%, rgba(227, 224, 216, 0)));
        background: -webkit-linear-gradient(top, rgba(227, 224, 216, 0) 0%, #e3e0d8 20%, #e3e0d8 80%, rgba(227, 224, 216, 0) 100%);
        background: -moz-linear-gradient(top, rgba(227, 224, 216, 0) 0%, #e3e0d8 20%, #e3e0d8 80%, rgba(227, 224, 216, 0) 100%);
        background: -o-linear-gradient(top, rgba(227, 224, 216, 0) 0%, #e3e0d8 20%, #e3e0d8 80%, rgba(227, 224, 216, 0) 100%);
        background: linear-gradient(top, rgba(227, 224, 216, 0) 0%, #e3e0d8 20%, #e3e0d8 80%, rgba(227, 224, 216, 0) 100%)
    }

    .header::after {
        display: none
    }
}

@media (min-width: 481px) and (max-width: 768px){.header>.wrap {
        position: relative;
        width: 360px;
        margin: 0 auto
    }

    .header>.wrap:after {
        content: "";
        display: table;
        clear: both
    }
}

@media (min-width: 769px){.header>.wrap {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        text-align: center
    }
}

.header-avatar {
    position: relative;
    border-radius: 200px
}

.header-avatar>a {
    display: block;
    border-radius: 200px;
    background-size: cover;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px 1px rgba(0, 0, 0, 0.05)
}

@media (max-width: 768px){.header-avatar {
        display: inline-block;
        margin-right: 0.5rem
    }
}

@media (max-width: 480px){.header-avatar {
        width: 40px;
        height: 40px;
        margin-top: 0.65rem;
        margin-bottom: 0.65rem
    }

    .header-avatar>a {
        width: 40px;
        height: 40px
    }
}

@media (min-width: 481px) and (max-width: 768px){.header-avatar {
        width: 60px;
        height: 60px;
        margin-top: 1.05rem;
        margin-bottom: 1.05rem
    }

    .header-avatar>a {
        width: 60px;
        height: 60px
    }
}

@media (min-width: 769px){.header-avatar {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-bottom: 0.8rem
    }

    .header-avatar>a {
        width: 100px;
        height: 100px
    }
}

@media (max-width: 480px){.header-text {
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        margin-bottom: 0.4rem
    }
}

@media (min-width: 481px) and (max-width: 768px){.header-text {
        float: left;
        text-align: right;
        margin-top: 1.9rem;
        margin-bottom: 1.9rem;
        margin-right: 0.8rem
    }
}

.header-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.2rem
}

.header-title {
    color: #a19c91;
    font-weight: 400;
    font-size: 0.72rem;
    margin-top: 0;
    margin-bottom: 0.8rem
}

.header-title>a {
    color: #8db359
}

@media (max-width: 480px){.header-social {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
        display: none
    }
}

@media (min-width: 481px) and (max-width: 768px){.header-social {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        float: right;
        display: inline-block
    }
}

.header-social-icons {
    position: relative;
    text-align: center
}

.header-social-icons a {
    text-decoration: none
}

@media (max-width: 480px){.header-social-icons {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
}

@media (min-width: 481px) and (max-width: 768px){.header-social-icons {
        top: 5px
    }
}

.header-social-buttons {
    font-size: 0.6rem;
    margin-top: 0.8rem
}

@media (max-width: 768px){.header-social-buttons {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
}

@media (max-width: 768px){.nav {
        display: none
    }
}

.nav .home {
    position: fixed;
    top: 1.3rem;
    left: 1.3rem
}

.nav .next, .nav .previous {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: fixed;
    z-index: 2;
    right: 0;
    width: 20%;
    padding: 2.1rem;
    text-align: center;
    color: inherit;
    font-size: 0.8rem;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s
}

.nav .next:hover, .nav .previous:hover {
    opacity: 1
}

.nav .next:hover::before, .nav .previous:hover::before {
    opacity: 1
}

.nav .next::before, .nav .previous::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s
}

.nav .next {
    top: -0.3rem
}

.nav .next:before {
    top: 1.3rem;
    background-image: url("/images/up.png")
}

.nav .previous {
    bottom: -0.3rem
}

.nav .previous:before {
    bottom: 1.3rem;
    background-image: url("/images/down.png")
}

.article {
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 34rem
}

.article:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 481px){.article {
        padding-right: 6rem;
        padding-left: 6rem
    }
}

.article-header:after {
    content: "";
    display: table;
    clear: both
}

.article-header .article-title {
    margin-top: 0;
    margin-bottom: 0
}

.article-header .article-title>a:hover {
    color: #8db359
}

.article-header .article-byline {
    display: none
}

.article-header .article-date {
    display: block;
    font-size: 0.8rem;
    color: #c7c2b8
}

.article-body {
    margin-top: 1.3rem
}

.article-body>p:first-child {
    font-size: 1.2rem
}

.article-body blockquote, .article-body figure {
    margin-top: 2em;
    margin-bottom: 2em
}

.article-body blockquote+small, .article-body blockquote+dd, .article-body blockquote+figcaption,
.article-body figure+small, .article-body figure+dd, .article-body figure+figcaption {
    position: relative;
    top: -3em
}

@media (min-width: 1230px){.article-body blockquote, .article-body figure {
        margin-right: -4.5rem;
        margin-left: -4.5rem
    }

    .article-body blockquote+small, .article-body blockquote+dd, .article-body blockquote+figcaption,
    .article-body figure+small, .article-body figure+dd, .article-body figure+figcaption {
        margin-right: -4.5rem;
        margin-left: -4.5rem
    }
}

.article-body figure.right, .article-body figure.left {
    max-width: 40%
}

.article-body figure.right {
    float: right;
    margin-left: 1em
}

.article-body figure.left {
    float: left;
    margin-right: 1em
}

.article-body figure img {
    margin: 0 auto
}

.article-footer {
    margin-top: 2.1rem;
    position: relative
}

.article-footer .text-shares {
    font-size: 0.8rem;
    color: #a19c91
}

.article-footer .social-shares {
    margin-top: 0.5rem
}

.article-list>li {
    position: relative
}

.article-list .article {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem
}

.article-list>li:first-child .article {
    padding-top: 0
}

.article-list>li:last-child .article {
    padding-bottom: 0
}

.article-list .article-title {
    margin: 0
}

@media (max-width: 480px){.article-list {
        padding: 1.3rem;
        text-align: center
    }
}

